.changes{
    font-family: 'Libre Baskerville', serif;    
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;

}
#imagem{
    border: 5px solid white;
    width: 100%;

}
body{
    background-color: black;
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}
p{
color: white;
}
